/* Search */

/* Search results */
.results {
    width: 15rem;
    height: fit-content;
    background-color: var(--color-2);
    position: absolute;
    max-height: 28rem;
    overflow-y: scroll;
    /* scroll-; */
}

.results ul {
    list-style-type: none;
    height: inherit;
}

.pokemonResult {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    font-size: 2rem;
    border: black solid 0.1px;
    padding: 0.3rem;
}

.pokemonResult:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.pokemonResult img {
    height: 100%;
    /* transform: rotate(30deg); */
    filter: drop-shadow(2px 2px 1px #000000fd);
}
