/* Search */

/* Search results */
.results {
    width: 15rem;
    height: fit-content;
    background-color: var(--color-2);
    position: absolute;
}

.results ul {
    list-style-type: none;
    height: inherit;
}

.pokemonResult {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    font-size: 2rem;
    border: black solid 0.1px;
}

.pokemonResult:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.pokemonResults img {
    height: 100%;
}
