/* CSS Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

body {
    background-color: var(--color-3);
    margin: 0;
    height: 100vh;
    font-size: var(--font-size);
    font-family: var(--font-family);
    overflow: hidden;
}

/* Base Styles */
header {
    background-color: var(--color-1);
}

/* Main Content */
main {
    height: 100%;
}

.dexContainer,
.searchContainer {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.fadeOut {
    transition: opacity 2.5s ease-out;
}

/* Pagination Buttons */
#prev,
#next {
    height: 5rem;
    width: 5rem;
    background-color: var(--color-1);
}

#prev {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#next {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* Pokemon Container */
.pokemonContainer > * {
    padding-bottom: 1rem;
}

/* Pokemon */
.pokemon {
    height: 10rem;
}

/* Stats */
.stats {
    border: black solid 1px;
    font-size: 1.3rem;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 18rem;
}

.stats > * {
    gap: 4px;
    width: 105%;
    padding: 0.2rem;
}
